body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:13px;
  background-color:rgb(236, 208, 199);
  color:black;
}

code {
  font-family:'Times New Roman', Times, serif;
    font-size:50px;
  
}
